body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}



.stars-input {
    -webkit-text-security: disc; 
    text-security: disc; 
  }
  input[type='checkbox'] {
    accent-color: black;
}
  